@font-face {
  font-family: 'Arial';
  src: url(../../fonts/arialmt.woff2) format('woff2');
  src: url(../../fonts/arialmt.ttf) format('ttf');
  src: url(../../fonts/arialmt.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Georgia';
  src: url(../../fonts/georgia.woff2) format('woff2');
  src: url(../../fonts/ofont.ru_Georgia.ttf) format('ttf');
  src: url(../../fonts/ofont.ru_Georgia.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
