$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;

$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;

$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-m: #b2b2b2;
$color-dark-s: #cdcdcd;
$color-dark-3xl: #292929;
$color-black: #000000;

$spacing-l: 0.06em;
$spacing-xl: 0.1em;

$decstop-width: 1200px;
$laptop-width: 1001px;

$tablet-width: 768px;
$menu-hide-width: 767px;
$tablet-s-width: 710px;

$mobile-XL-width: 570px;
$mobile-L-width: 470px;
$mobile-width: 414px;
$mobile-width-s: 320px;
