.pet__item {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  @media (max-width: 730px) {
    flex-direction: column;
    align-items: center;
  }
}
.pet__content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-right: 20px;
  @include media-laptop {
    width: 260px;
    height: 303px;
    padding-right: 10px;
  }
  @media (max-width: 730px) {
    align-items: center;
    width: 250px;
    height: 100%;
  }
}

.pet__image {
  width: 500px;
  height: 500px;
  border-radius: 9px 0px 0px 9px;
  @include media-laptop {
    width: 350px;
    height: 350px;
    border-radius: 9px;
  }
  @include media-mobile-XL {
    display: none;
  }
}

.pet__name {
  @include font(3.5rem, 130%);
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  padding-top: 50px;
  @include media-laptop {
    padding-top: 10px;
  }
}
.pet__breed {
  @include font(2rem, 115%);
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  padding-bottom: 40px;
  @include media-laptop {
    padding-bottom: 10px;
  }
  @include media-mobile-XL {
    letter-spacing: normal;
  }
}

.pet__description {
  @include font(1.5rem, 115%);
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  padding-bottom: 30px;
  @include media-laptop {
    @include font(1.3rem, 110%);
    padding-bottom: 10px;
  }
  @include media-mobile-XL {
    text-align: justify;
  }
}
.pet__info > li {
  padding-bottom: 10px;
  @include media-laptop {
    padding-bottom: 6px;
  }
}
.pet__info-item.name {
  @include font(1.5rem, 110%, 700);

  font-family: 'Georgia';
  letter-spacing: 0.06em;
}
.pet__info-item.colored {
  font-weight: 400;
}
.pet__info-item.name:before {
  content: '•';
  width: 4px;
  height: 4px;
  color: $color-primary;
  padding-right: 10px;
}
